In [2]:
#1. A database is an organized collection of structured information, or data, typically stored electronically in a computer system.
# Difference betweem sql and nosql:
# SQL is the programming language used to interface with relational databases. (Relational databases model data as records in rows and tables with logical links between them). 
#NoSQL is a class of DBMs that are non-relational and generally do not use SQL.

In [3]:
#2. A data definition language (DDL) is a computer language used to create and modify the structure of database objects in a database. These database objects include views, schemas, tables, indexes, etc.
#The CREATE statement is used to create a new table or a new database.Ex: create table tablename(column1,column2..); create database databasename
#The DROP TABLE statement is used to drop an existing table in a database. Ex: drop table tablenanme;
#The ALTER TABLE statement is used to add, delete, or modify columns in an existing table.Ex: ALTER TABLE table_name
#ADD column_name datatype;
#The TRUNCATE TABLE command deletes the data inside a table, but not the table itself.Ex:TRUNCATE TABLE  table_name;

In [4]:
#3.DML stands for Data Manipulation Language, and it is a subset of SQL (Structured Query Language) used to modify and manipulate data within a database.
# INSERT: This command is used to insert new data into a table.INSERT INTO table_name (column1, column2, column3, ...) VALUES (value1, value2, value3, ...);
#UPDATE: This command is used to update existing data in a table.UPDATE table_name SET column1 = value1, column2 = value2, ...WHERE condition;
#DELETE: This command is used to delete data from a table.DELETE FROM table_name WHERE condition;

In [5]:
#4.DQL stands for Data Query Language, and it is a subset of SQL (Structured Query Language) used to retrieve data from a database.
#SELECT: This command is used to retrieve data from one or more tables in a database. SELECT column1, column2, ... FROM table1 WHERE condition;

In [6]:
#5.Primary Key:
#A primary key is a column or set of columns in a table that uniquely identifies each row in that table. It is used to ensure the data in the table is unique and can be used as a reference point for other tables. Each table in a database must have a primary key.
#Foreign Key:
#A foreign key is a column or set of columns in a table that refers to the primary key of another table. It establishes a relationship between two tables, where the foreign key in one table refers to the primary key in another table. The foreign key column in a table holds values that correspond to the primary key column of another table.

In [8]:
#6. code to connect MYSQL and Python
# import mysql.connector
# mydb = mysql.connector.connect(
#   host="localhost",
#   user="abc",
#   password="password"
# )
# mycursor = mydb.cursor()
# mycursor.execute("SHOW DATABASES")
# mydb.close()
#The cursor() method is used to create a cursor object in Python that allows us to execute SQL statements against a database.
#The execute() method is used to execute a SQL statement against a database. It is a method of a cursor object, which is created using the cursor() method.

In [10]:
#7. From ,  join ,where, groupby, having,select, distinct, orderby, limit.